
@{
    Layout = null;
}
@using WebApplication5.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello from @ViewBag.x and @ViewData["z"]
    </div>
</body>
</html>
