@{
    Layout = null;
}

@model WebApplication2.Models.Employee
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Welcome to MVC 5 Step by Step learning
    <div>
        @{ 

            //WebApplication2.Models.Employee emp = (WebApplication2.Models.Employee)ViewData["Employee1"];
            //var salary = 4;

            //WebApplication2.Models.Employee emp = (WebApplication2.Models.Employee)ViewBag.Employee;
           // WebApplication2.Models.Employee emp = 

        }
        Employee first name: @Model.FirstName

    </div>
</body>
</html>